---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import Section from '../components/ui/Section.astro'
import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'
import Button from '../components/ui/Button.astro'
import { Icon } from 'astro-icon/components'

// Content
// - SEO
const SEO = {
	title: 'Contact | Pedro Francisco - Software Engineer',
	description:
		'Get in touch with Pedro Francisco, a Software Engineer specializing in Flutter development for mobile applications.'
}
// - Page Header
const header = {
	title: 'Get Answers to Your <strong>Foxi</strong> Questions.',
	text: "Whether you have a question, need support, or just want to share your feedback, we're all ears. Reach out to us and we'll get back to you as soon as possible."
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Section classes="bg-gradient-to-b from-white to-blue-50 py-16">
		<Row>
			<Col span="2" />
			<Col span="8" align="center">
				<h1 class="mb-4 text-4xl md:text-5xl">
					Get in <strong class="text-blue-600">Touch</strong>
				</h1>
				<p class="mx-auto mb-12 max-w-2xl text-lg leading-relaxed text-gray-700">
					I'm always open to discussing new projects, creative ideas, or opportunities to
					be part of your vision.
				</p>
			</Col>
			<Col span="2" />
		</Row>

		<Row classes="mt-4">
			<Col span="3" />
			<Col span="6">
				<div
					class="rounded-xl border border-gray-100 bg-white p-10 shadow-lg transition-all duration-300 hover:shadow-xl"
				>
					<h2 class="mb-8 text-center text-2xl font-bold text-gray-800">
						Contact Information
					</h2>
					<div class="mx-auto max-w-lg space-y-10">
						<a
							href="tel:+5519982226579"
							class="group flex items-center gap-6 transition-all duration-300 hover:translate-x-2"
						>
							<div
								class="flex h-16 w-16 items-center justify-center rounded-full bg-blue-100 text-blue-600 shadow-sm transition-all duration-300 group-hover:bg-blue-600 group-hover:text-white"
								aria-hidden="true"
							>
								<Icon name="phone-arrow-up-right" class="h-8 w-8" />
							</div>
							<div>
								<h3
									class="text-xl font-semibold text-gray-800 transition-all duration-300 group-hover:text-blue-600"
								>
									Phone
								</h3>
								<p class="mt-1 text-gray-600">+55 (19) 98222-6579</p>
							</div>
						</a>

						<a
							href="mailto:pedrohlf.contato@gmail.com"
							class="group flex items-center gap-6 transition-all duration-300 hover:translate-x-2"
						>
							<div
								class="flex h-16 w-16 items-center justify-center rounded-full bg-blue-100 text-blue-600 shadow-sm transition-all duration-300 group-hover:bg-blue-600 group-hover:text-white"
								aria-hidden="true"
							>
								<Icon name="mail-icon" class="h-8 w-8" />
							</div>
							<div>
								<h3
									class="text-xl font-semibold text-gray-800 transition-all duration-300 group-hover:text-blue-600"
								>
									Email
								</h3>
								<p class="mt-1 text-gray-600">pedrohlf.contato@gmail.com</p>
							</div>
						</a>

						<a
							href="https://linkedin.com/in/hlfdev"
							target="_blank"
							rel="noopener noreferrer"
							class="group flex items-center gap-6 transition-all duration-300 hover:translate-x-2"
						>
							<div
								class="flex h-16 w-16 items-center justify-center rounded-full bg-blue-100 text-blue-600 shadow-sm transition-all duration-300 group-hover:bg-blue-600 group-hover:text-white"
								aria-hidden="true"
							>
								<Icon name="linkedin-icon" class="h-8 w-8" />
							</div>
							<div>
								<h3
									class="text-xl font-semibold text-gray-800 transition-all duration-300 group-hover:text-blue-600"
								>
									LinkedIn
								</h3>
								<p class="mt-1 text-gray-600">linkedin.com/in/hlfdev</p>
							</div>
						</a>
					</div>
				</div>
			</Col>
			<Col span="3" />
		</Row>
	</Section>
</Layout>
